---
title: Sponsors
description: callysto is not sponsored by anyone, but your app might be!
---

<p style="text-align: center;">
	Want to list your built-on-callysto site below? Just open an issue
	on the <a href="{{ site.github }}">callysto Github page</a>
	with a link to your site and I'll add you.
</p>

<ul class="developers">
	{% for sponsor in site.data.sponsors %}
		<li>
			<a href="{{ sponsor.link }}" target="_blank">
			<div class="sponsor-image"><img src="{% include relative-src.html src=sponsor.image_path %}" alt="{{ sponsor.name }}"/></div>
			<div class="name">{{ sponsor.name }}</div>
			</a>
		</li>
	{% endfor %}
</ul>

<div class="testimonial">
	<h2>Built on callysto</h2>
	<hr>
	<div class="projects">
		{% for site in site.data.callysto-projects %}
			<div class="collaborator-block">
				<a href="{{ site.link }}" target="_blank">
					<div class="square-image">
						<img src="{{ site.image_path }}" alt="{{ site.name }}" class="editable">
						<h2>{{ site.name }}</h2>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
